In [1]:
# Import libraries
import os
import pandas as pd

# Ignore warnings
import warnings as wn
wn.filterwarnings('ignore')

In [2]:
# Load all the files with the data from 28.02.2011 to 25.03.2021 to the dataframe
dir_path = os.path.abspath('old_data')
files = [os.path.join(dir_path, f) for f in os.listdir(dir_path) if f.endswith('.xls')]
df1 = pd.concat(map(lambda file: pd.read_excel(file, skiprows=6, skipfooter=4), sorted(files)), axis=1)

In [3]:
#  Load all the files with the data from 31.12.2020 to 16.09.2021 to the dataframe
dir_path = os.path.abspath('new_data')
files = [os.path.join(dir_path, f) for f in os.listdir(dir_path) if f.endswith('.xls')]
df2 = pd.concat(map(lambda file: pd.read_excel(file, skiprows=6, skipfooter=4), sorted(files)), axis=1, sort=True)

In [4]:
# Append the new data to the old data
df3 = df1.append(df2)

In [5]:
# Remove all the duplicated columns such as "Effective date"
df3 = df3.loc[:, ~df3.columns.duplicated()]

In [6]:
# Set the column names to the dataframe
df3.columns = [
               'date',
               'communication_services',
               'consumer_discretionary',
               'consumer_staples',
               'energy',
               'financials',
               'health_care',
               'industrials',
               'information_technology',
               'materials',
               'utilities',
               'sp_500',
              ]

In [7]:
# Remove all the duplicated rows (between 31.12.2020 and 25.03.2021)
df3.drop_duplicates(inplace=True)

In [8]:
# Quick look at the cleaned data
df3.head()

        date  communication_services  ...  utilities   sp_500
0 2011-02-28                   96.25  ...     157.55  2095.78
1 2011-03-01                   94.51  ...     156.06  2062.79
2 2011-03-02                   94.84  ...     156.45  2066.36
3 2011-03-03                   96.06  ...     157.94  2101.99
4 2011-03-04                   95.23  ...     157.03  2086.50

[5 rows x 12 columns]

In [9]:
# Save the compound and cleaned data to CSV file
save_path = os.path.abspath('sp-500-compound-data.csv')
df3.to_csv(save_path, index=False)